@page "/CalorieCountingPage"
@using AdventOfCode2022Solutions.PuzzleSolutions.CalorieCounting
<PuzzleSolutionControllerNEW PuzzleContext="@_puzzleContext">
    <p>@_puzzleContext.Message</p>
    <p>@_puzzleContext.CurrentSum</p>
    <p>@context.AnimationDuration</p>
    <CalorieCountingVisualization Model="@_puzzleContext" Settings="@context" />
</PuzzleSolutionControllerNEW>
@code {
    CalorieCountingContext _puzzleContext = new(new CalorieCountingPart1Strategy());
}
