@page "/CalorieCountingPage"
@using AdventOfCode2022Solutions.PuzzleSolutions.CalorieCounting
<PuzzleSolutionControllerNEW PuzzleContext="@_puzzleContext">
    <p>@_puzzleContext.Message</p>
    <p>@_puzzleContext.CurrentSum</p>
    <p>@context.AnimationDuration</p>
    <CalorieCountingVisualization Model="@_puzzleContext" Settings="@context" />
    <p>Step @_puzzleContext.Step</p>
    <pre class="alert-info m-2 p-2">@_puzzleContext.Message</pre>
</PuzzleSolutionControllerNEW>
@code {
    CalorieCountingContext _puzzleContext = new(new CalorieCountingPart1Strategy());
}
